{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>OPass Calculator</title>

    <link rel="icon" type="image/png" href="{% static "opass/favicon-32x32.png" %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static "opass/favicon-16x16.png" %}" sizes="16x16"/>

    <!-- Metro 4 -->
    <link rel="stylesheet" href="{% static "opass/metro-all.min.css" %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="cell">
            <h1 class="text-center">OPass Calculator</h1>
        </div>
    </div>
    <form id="frmOpass" method="post">
        {% csrf_token %}
        {% if Frontal %}
            <h3>Frontal Stations</h3>
            <div class="form-group">
                {% for station in Frontal %}
                    <input type="checkbox" name="{{ station }}" data-role="switch"
                           data-caption="{{ station }}">
                {% endfor %}
            </div>
        {% endif %}

        {% if Ramp %}
            <h3>Ramp Stations</h3>
            <div class="form-group">
                {% for station in Ramp %}
                    <input type="checkbox" name="{{ station }}" data-role="switch"
                           data-caption="{{ station }}">
                {% endfor %}
            </div>
        {% endif %}
        <h3>Vehicle Type</h3>
        <div class="form-group">
            <input type="radio" data-role="radio" name="vehicle" data-caption="Motorcycle" value="0">
            <input type="radio" data-role="radio" name="vehicle" data-caption="Vehicles" value="1" checked>
            <input type="radio" data-role="radio" name="vehicle" data-caption="Vehicles with 2-3 axes" value="2">
            <input type="radio" data-role="radio" name="vehicle" data-caption="Vehicles with 4 or more axes" value="3">
        </div>

        <h3>Working Days</h3>
        <div class="form-group">
            <input type="checkbox" name="Working Days" data-role="switch"
                   data-caption="Working Days" checked>
        </div>

        <h3>Passes per day</h3>
        <div class="form-group">
            <input data-role="slider" name="Passes per day" data-min="1" data-max="4" data-value="2" data-hint="true"
                   data-hint-always="true" data-size="200" data-accuracy="1" data-hint-position="right">
        </div>

        <div class="form-group">
            <input class="button success" type="submit" value="Calculate">
        </div>
    </form>

    <div id="results">
        <h2>Results</h2>
        <table id="table" class="table table-border cell-border">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr></tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Metro 4 -->
<script src="{% static "opass/metro.min.js" %}"></script>
<script type="text/javascript">
    const URL_CALCULATE = "{% url "calculate" %}"
</script>
<script src="{% static "opass/app.js" %}"></script>
</body>
</html>